---
interface Props {
    peripherals: {
        name: string;
        model: string;
        details: string[];
        url: string;
    }[];
}

import Section from '@/components/portfolio/Section.astro';
import SetupCardBase from '@/components/portfolio/setup/CardBase.astro';

const { currentLocale } = Astro;
const { peripherals } = Astro.props;

const titlePeripherals = currentLocale === 'en' ? 'Peripherals' : 'Perifericos';
---

<Section>
    <SetupCardBase items={peripherals} title={titlePeripherals} className='peripherals-grid' />
</Section>
