---
interface Props {
    basics: {
        summary: string;
    }
}

import Section from '@/components/Section.astro'
const { currentLocale } = Astro;
const { basics } = Astro.props;
const { summary } = basics;

const title = currentLocale === 'en' ? 'About Me' : 'Sobre mí'
---

<Section title={title}>
    <p>
        {summary}
    </p>
</Section>

<style>
    p {
		text-align: justify;
    }
</style>