---
import Section from '@/components/portfolio/Section.astro';
---

<Section>
    <h1>404 - Page Not Found</h1>
    <p>Sorry, we couldn't find the page you were looking for.</p>
</Section>

<style>
    h1, p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.3rem
    }
</style>