---
import Layout from '@/layouts/Layout.astro';

import { basics } from '@cv'
---

<Layout title={`Blog`} basics={basics}>
	<main>
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
