---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Layout from '@/layouts/LayoutGeneral.astro';
import SetupComponents from '@/components/portfolio/setup/SetupComponents.astro';
import Peripherals from '@/components/portfolio/setup/Peripherals.astro';

import { setup } from '@cv';
---

<Layout title={`Setup`}>
    <Header />
    <main>
        <SetupComponents components={setup.components} />
        <Peripherals peripherals={setup.peripherals} />
    </main>
    <Footer />
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
        flex: 1;
    }
</style>
